<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DeviceId" value="\\?\usb#vid_04e8&amp;pid_6860&amp;ms_comp_mtp&amp;samsung_android#6&amp;37542dfd&amp;0&amp;0000#{6ac27878-a6fa-4155-ba85-f98f491d4f33}"/>
    <add key="RootDevicePath" value="Card/Music"/>
    <add key="RootComputerPath" value="R:/Music/library"/>
  </appSettings>
</configuration>